@charset "utf-8";
@media screen and (min-width: 1440px) {
    .mob-title {
        display: none !important
    }

    .onedepth .m_title {
        display: block
    }

    .web-block {
        display: block
    }
}

/*2017.12.22 김영탁 추가*/
@media screen and (max-width: 1440px) {
    .bn-area ul li img {
        display: block;
        width: 100%;
        max-width: 1440px
    }

    .tbl-cell.softwareBox img {
        width: 100%
    }
}

@media screen and (max-width: 1149px) {
    .search-top {
        display: none
    }

    .gnb-top {
        display: none
    }

    #header .header-inner h1 {
        float: left;
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 10px 0 0 0
    }

    #header .header-inner h1 img {
        width: 120px;
    }

    #quickMenu {
        display: none
    }

    .scrollup {
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 0.9;
        position: fixed;
        bottom: 17px;
        right: 15px;
        display: none;
        z-index: 9999;
        border: 1px solid #dcdcdc;
        background: #fff url('/image/icon_top.png') no-repeat;
        background-size: 40px 40px;
        /*
           border-radius:50%;*/
    }

    .prev-owl {
        top: 50% !important;
        margin-top: -29px !important;
        left: 1% !important
    }

    .next-owl {
        top: 50% !important;
        margin-top: -29px !important;
        right: 1% !important
    }

    .m-img {
        width: 100%
    }

    .m-img-none {
        width: inherit
    }

    img.imgBox {
        width: 100%
    }

    .visual-sub {
        padding: 15px 0 15px 0;
        font-size: 16px;
    }

    .visual-sub h3 {
        font-size: 30px;
        line-height: 50px;
    }

    @media screen and (max-width: 1440px) {
        .bn-area ul li img {
            display: block;
            width: 100%;
            max-width: 1440px
        }

        .tbl-cell.softwareBox img {
            width: 100%
        }

        #contents {
            padding: 0 15px
        }

        .software-wrap > ul > li {
            width: 100%
        }

        .software-wrap > ul > li:nth-child(1n) {
            padding-right: 0px;
            margin-bottom: 50px
        }

        .software-wrap > ul > li:nth-child(2n) {
            padding-left: 0px
        }
    }

    @media screen and (max-width: 1149px) {
        .search-top {
            display: none
        }

        .gnb-top {
            display: none
        }

        #header .header-inner h1 {
            float: left;
            width: 100%;
            height: 70px;
            text-align: center;
            padding: 10px 0 0 0
        }

        #header .header-inner h1 img {
            width: 120px;
            margin-top: 7px
        }

        #quickMenu {
            display: none
        }

        .scrollup {
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            opacity: 0.9;
            position: fixed;
            bottom: 17px;
            right: 15px;
            display: block !important;
            z-index: 9999;
            border: 1px solid #dcdcdc;
            background: #fff url('/image/icon_top.png') no-repeat;
            background-size: 40px 40px;
            /*
               border-radius:50%;*/
        }

        .prev-owl {
            top: 50% !important;
            margin-top: -29px !important;
            left: 1% !important
        }

        .next-owl {
            top: 50% !important;
            margin-top: -29px !important;
            right: 1% !important
        }

        .m-img {
            width: 100%
        }

        .m-img-none {
            width: inherit
        }

        img.imgBox {
            width: 100%
        }

        .visual-sub {
            padding: 15px 0 15px 0;
            font-size: 16px;
        }

        .visual-sub h3 {
            font-size: 30px;
            line-height: 50px;
        }

        .software-wrap > ul > li {
            width: 100%
        }

        .software-wrap > ul > li:nth-child(1n) {
            padding-right: 0px;
            margin-bottom: 50px
        }

        .software-wrap > ul > li:nth-child(2n) {
            padding-left: 0px
        }

        .softwareBox > ul > li:nth-child(1) {
            padding-right: 10px
        }

        .softwareBox > ul > li:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px
        }

        .softwareBox > ul > li:nth-child(3) {
            float: right;
            padding-left: 10px;
        }

        .softwareBox > ul > li .swb-info {
            background: #000;
            text-align: center;
            padding: 20px 20px 50px 20px
        }

        .softwareBox > ul > li .swb-title {
            color: #fff;
            font-size: 24px;
            line-height: 50px;
            background: url(/image/bu-white.png) no-repeat center top;
            padding-top: 24px;
            margin-top: 30px
        }

        .softwareBox > ul > li .swb-text {
            font-size: 13px;
            color: #fff;
            line-height: 21px
        }

        .softwareBox > ul > li .button-white-line {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 999px) {
        .mT-none {
            display: none !important
        }

        /************ mobile nav mnb **************/
        #contents {
            padding: 0 15px
        }

        #contents.m0 {
            margin-top: 0px
        }

        #content-wrap, .gnb-wrap {
            width: 100%;
        }

        #content-wrap {
            min-height: inherit
        }

        #container {
            width: 100%;
        }

        .areaBox21 .areaBox21-left {
            width: 60%;
        }

        .areaBox21 .areaBox21-right {
            width: 37%;
        }

        .login_wrap {
            width: 100%;
            margin: 0 auto
        }

        .login {
            width: 100%;
            padding: 50px 0 0 0px;
            border: 0px solid #eee;
        }
    }

    @media screen and (max-width: 768px) {

        /* 모바일용 패딩& 마진*/
        .pLm {
            padding-left: 0px
        }

        .pRm {
            padding-right: 0px
        }

        .pTm {
            padding-top: 0px
        }

        .pBm {
            padding-bottom: 0px
        }

        .mLm {
            margin-left: 0px
        }

        .mRm {
            margin-right: 0px
        }

        .mTm {
            margin-top: 0px
        }

        .mBm {
            margin-bottom: 0px
        }

        .light-theme li {
            height: 40px;
        }

        .cell {
            display: table-cell
        }

        #contents h4 {
            font-size: 17px;
        }

        .newsbox-wrap > ul > li:nth-child(1n) {
            float: left;
            width: 100%;
            padding-right: 0px;
            margin-bottom: 50px
        }

        .newsbox-wrap > ul > li:nth-child(2n) {
            float: right;
            width: 100%;
            padding-left: 0px
        }

        .newsbox-wrap .newsBox {
            background: #fff;
            padding: 20px
        }

        .softwareBox > ul > li {
            float: left;
            width: calc(100% / 1);
            margin-bottom: 20px
        }

        .softwareBox > ul > li img {
            width: 100%;
        }

        .softwareBox > ul > li:nth-child(1) {
            padding-right: 0px
        }

        .softwareBox > ul > li:nth-child(2) {
            padding-left: 0px;
            padding-right: 0px
        }

        .softwareBox > ul > li:nth-child(3) {
            float: right;
            padding-left: 0px;
        }

        .softwareBox > ul > li .swb-info {
            background: #000;
            text-align: center;
            padding: 20px 20px 50px 20px
        }

        .softwareBox > ul > li .swb-title {
            color: #fff;
            font-size: 32px;
            line-height: 50px;
            background: url(/image/bu-white.png) no-repeat center top;
            padding-top: 24px;
            margin-top: 30px
        }

        .softwareBox > ul > li .swb-text {
            font-size: 15px;
            color: #fff;
            line-height: 21px
        }

        .softwareBox > ul > li a.button-white-line {
            color: #fff;
        }

    }

    @media screen and (max-width: 700px) {
        .detail-wrap .detailBox .detail-Info .btn-wrap .btn .button {
            height: 35px;
            line-height: 32px;
            min-width: 70px;
            font-size: 14px;
            padding: 0 10px
        }
    }

    @media screen and (min-width: 640px) {
        .web-mL15 {
            margin-left: 15px
        }
        .m-show {
            display: none
        }

    }

    @media screen and (max-width: 640px) {
        .f10 {
            width: 100%
        }

        .f20 {
            width: 100%
        }

        .f25 {
            width: 100%
        }

        .f30 {
            width: 100%
        }

        .f33 {
            width: 100%
        }

        .f35 {
            width: 100%
        }

        .f40 {
            width: 100%
        }

        .f50 {
            width: 100%
        }

        .f60 {
            width: 100%
        }

        .f65 {
            width: 100%
        }

        .f70 {
            width: 100%
        }

        .f80 {
            width: 100%
        }

        .f80 {
            width: 100%
        }

        .f100 {
            width: 100%
        }

        input, select {
            padding-left: 0 !important;
            text-indent: 5px !important
        }

        #footer {
            padding: 0
        }

        #footer .foot-f01 {
            width: 100%;
            padding: 0
        }

        #footer .foot-f01 img {
            width: 70px;
            padding: 0
        }

        #footer .goLink {
            display: none
        }

        #footer .foot-f02 {
            width: 100%;
        }

        #footer .foot-f02 .address {
            display: none
        }

        #footer .foot-f02 .copy {
            display: block;
            width: 100%;
            font-size: 11px;
            padding: 0;
            margin: 0;
            text-align: center
        }

        .m-none {
            display: none !important
        }

        .m-100 {
            width: 100% !important
        }

        .m-block {
            display: inline-block !important
        }

        .m-only-block {
            display: block
        }

        body {
            font-size: 14px;
            color: #555;
            line-height: 18px
        }

        .tbl-list {
            font-size: 16px;
            line-height: 21px;
            color: #444;
        }

        .tbl-list td {
            font-size: 15px;
        }

        .tbl-write {
            font-size: 14px;
        }

        .tbl-write td {
            font-size: 13px;
            line-height: 18px;
        }

        .icon-mouse {
            display: none !important
        }

        .bn-area ul li {
            float: left;
            width: 100%
        }

        .visual-main {
            margin-bottom: 20px;
        }

        .newsbox-wrap {
            margin-top: 20px;
            margin-bottom: 20px
        }

        .newsbox-wrap > ul > li:nth-child(1n) {
            margin-bottom: 20px
        }

        .tbl-cell.softwareBox ul {
            display: block;
            width: 100%
        }

        .tbl-cell.softwareBox li {
            display: block;
            width: 100%;
            margin-bottom: 20px
        }
		.tbl-qna-name .tbl-name {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 100px;
		}
		.tbl-qna .tbl-title {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 133px;
		}
	
		/* 서비스 진행현황 > 진행 화살표 이미지 사이즈 설정 : 2017.12.28 최영은 */
		#status_arrow_img {
			width: 45%;
		}

    }

    @media screen and (max-width: 480px) {

    }

    @media screen and (max-width: 420px) {

        .light-theme {
            margin: 0px auto 30px auto;
        }

        .light-theme li a {
            height: 35px;
            display: none;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 12px 0px 12px;
        }

        .light-theme li .first, .light-theme li .last, .light-theme li .prev, .light-theme li .next, .light-theme li .current {
            display: block
        }

        .tab li {
            font-size: 14px;
        }

        .softwareBox > ul > li:nth-child(1) {
            padding-right: 10px
        }

        .softwareBox > ul > li:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px
        }

        .softwareBox > ul > li:nth-child(3) {
            float: right;
            padding-left: 10px;
        }

        .softwareBox > ul > li .swb-info {
            background: #000;
            text-align: center;
            padding: 20px 20px 50px 20px
        }

        .softwareBox > ul > li .swb-title {
            color: #fff;
            font-size: 24px;
            line-height: 50px;
            background: url(/image/bu-white.png) no-repeat center top;
            padding-top: 24px;
            margin-top: 30px
        }

        .softwareBox > ul > li .swb-text {
            font-size: 13px;
            color: #fff;
            line-height: 21px
        }

        .softwareBox > ul > li .button-white-line {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 360px) {
    }

    @media screen and (max-width: 320px) {
    }
}
