@charset "utf-8";

/* layout */
#contents {
    min-height: 450px;
    padding-bottom: 0px;
    transition: all .2s ease
}

#header-wrap { /* position:absolute; width:100%; left:0; top:0; z-index:501;*/
    padding: 0 10px;
}

#header-wrap #gnb {
    width: 100%;
    height: 62px;
    position: relative;
    z-index: 10;
    padding-top: 0;
    float: none;
    text-align: left;
    padding-left: 0;
    margin-top: -60px;
}

#header-wrap #gnb .al_box {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

#header-wrap #nav {
    position: relative;
    z-index: 101;
    float: right;
    margin-right: -30px
}

#header-wrap #nav ul {
    height: auto;
    overflow: hidden;
    padding-top: 0;
    float: none;
    text-align: right;
    position: relative;
    left: auto;
    top: auto;
}

#header-wrap #nav ul:after {
    content: "";
    display: block;
    clear: both;
}

#header-wrap #nav > ul > li {
    float: left;
    text-align: center;
    display: block;
    padding: 0 30px
}

#header-wrap #nav > ul > li > ul > li {
    float: left;
    text-align: center;
    display: block;
    padding: 0 0px;
    text-indent: 10px
}

#header-wrap #nav > ul > li:last-child {
    background: none
}

/*#header-wrap #nav ul li.menu6 {display:none;}*/
#header-wrap #nav ul li a {
    display: block;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    padding: 13px 0px;
    height: 62px;
    text-decoration: none;
    margin-left: 0;
    color: #464646;
}

#header-wrap #nav ul li a.active {
    color: #00a9dd;
    border-bottom: 3px solid #00a9dd
}

#header-wrap #nav ul li a.ov, #header-wrap #nav ul li a:hover, #header-wrap #nav ul li a:active {
    color: #00a9dd;
}

#header-wrap #nav ul li ul {
    display: none;
    width: auto;
    padding: 0 0px;
}

#header-wrap #nav ul li ul.ov {
    background: #222;
}

#header-wrap #nav ul li ul li {
    float: none;
    width: auto;
    text-align: left;
}

#header-wrap #nav ul li ul li a {
    padding: 0;
    height: auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    padding: 5px 0;
    color: #fff;
}

#header-wrap #nav ul li ul li a strong {
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin: 0;
}

#header-wrap #nav ul li ul li a:hover strong, #header-wrap #nav ul li ul li a:active strong {
    text-decoration: underline;
    color: #00a9dd;
}

#header-wrap #gnb #blind {
    width: calc(100% + 20px);
    background: #333;
    position: absolute;
    left: -10px;
    top: 62px;
    display: none;
    z-index: 101;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    -ms-opacity: 0.9;
    -o-opacity: 0.9;
    opacity: 0.5;
    filter: alpha(opacity=90);
}

#header-wrap #gnb #blind span {
    display: block;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#header-wrap .mob_btn {
    display: none;
}

#header-wrap #blind_mob {
    display: none;
}

#header-wrap.gnb-software #nav ul li a.active {
    color: #5836ad !important;
    border-bottom: 3px solid #5836ad
}

#header-wrap #nav ul li a.ov, #header-wrap #nav ul li a:hover, #header-wrap #nav ul li a:active {
    color: #00a9dd;
}

#header-wrap.gnb-software #nav ul li a.ov, #header-wrap.gnb-software #nav ul li a:hover, #header-wrap.gnb-software #nav ul li a:active {
    color: #5836ad;
}

#header-wrap a:hover {
    color: #00a9dd;
}

#header-wrap.gnb-software a:hover {
    color: #5836ad;
}

/******* responsive css *******/

@media all and (max-width: 1149px) {
    /* common */
    .al_box {
        width: auto;
        max-width: 1150px;
        padding: 0 15px;
    }

    /* header */
    #header-wrap h1.logo {
        left: 15px;
        height: 72px;
    }

    #header-wrap #nav {
        width: 100%
    }
}

@media all and (min-width: 1150px) {
    /* common */
    /* #wrap  > * {left:0 !important;} */
    #header-wrap #gnb .mob-box {
        display: none !important
    }

    /* header */
    #header-wrap #gnb {
        display: block !important;
        left: 0 !important;
        height: 62px !important;
    }
}

@media all and (max-width: 1149px) {
    /* common */
    .al_box {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    /* header */
    #header-wrap {
        position: relative !important;
        width: 100%;
        left: 0;
        top: 0 !important;
        z-index: 501;
        -moz-box-shadow: 0 1px 3px #9e9e9e;
        -ms-box-shadow: 0 1px 3px #9e9e9e;
        -o-box-shadow: 0 1px 3px #9e9e9e;
        -webkit-box-shadow: 0 1px 3px #9e9e9e;
        box-shadow: 0 1px 3px #9e9e9e;
    }

    #header-wrap #gnb {
        position: absolute;
        left: -220px;
        top: 0;
        width: 220px;
        z-index: 201;
        display: none;
        background: #fff;
        margin-top: 0
    }

    #header-wrap #gnb #blind {
        display: none;
    }

    #header-wrap #gnb .mob-box {
        display: block !important
    }

    #header-wrap #gnb .mob-box h1 {
        height: 70px;
        text-align: center
    }

    #header-wrap #gnb .mob-box h1 img {
        width: 120px;
        text-align: center;
        padding: 20px 0 0 10px
    }

    #header-wrap #gnb .mob-box .goBox li {
        float: left;
        width: 50%;
        background: #eee;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        font-size: 14px;
        height: 46px;
        line-height: 44px;
        text-align: center;
        background: #f7f7f7;
    }

    #header-wrap #gnb .mob-box .goBox li a {
        width: 100%
    }

    #header-wrap #gnb .mob-box .log-wrap {
        background: #444;
        height: 46px;
        color: #898684;
        line-height: 44px;
        padding: 0 10px;
        font-size: 14px
    }

    #header-wrap .mob_btn {
        display: block;
        position: absolute;
        left: 2%;
        top: 18px;
        width: 36px;
        height: 36px;
        background: url(/image/mob_gnb_btn.png) no-repeat center 50%;
        padding: 2px 10px;
        overflow: hidden;
        z-index: 990;
    }

    #header-wrap .mob_btn.ov {
        background: #000 url(/image/mob_gnb_close.png) no-repeat center 50%;
        left: 0px;
        top: 0px;
        width: 74px;
        height: 70px;
    }

    #header-wrap .mob_btn span {
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0px;
        float: left;
        position: absolute;
        visibility: hidden;
        overflow: hidden;
    }

    #header-wrap #gnb .al_box {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    #header-wrap #nav {
        width: 100%;
        margin: 0;
        padding: 0px 0 0 0 !important;
        background: #fff
    }

    #header-wrap #nav ul {
        background: none;
    }

    #header-wrap #nav ul li {
        float: none;
        width: auto !important;
        border-top: 1px solid #e1e1e1;
        padding: 0
    }

    #header-wrap #nav ul li:first-child {
        border-top: 0;
        margin-top: 0;
    }

    #header-wrap #nav ul li a {
        text-align: left;
        height: auto;
        padding: 12px 15px !important;
        font-size: 17px;
        line-height: 22px;
        font-weight: 600;
        display: block;
        color: #555 !important;
        background: #eee url(/image/mob_gnb_depth1_bul.png) no-repeat 92% 50%;
        text-decoration: none !important;
        border: 0;
    }

    #header-wrap #nav ul li a.bu-none, #header-wrap #nav ul li a.bu-none:focus {
        background: #eee !important
    }

    #header-wrap #nav ul li a.active {
        color: #00a9dd;
        border-bottom: 0px solid #00a9dd
    }

    #header-wrap #nav ul li ul {
        display: none;
        position: relative;
        padding: 0;
    }

    #header-wrap #nav ul li ul li {
        padding: 0 !important;
        border-top: 1px solid #e8e8e8;
        margin: 0;
    }

    #header-wrap #nav ul li ul li a {
        background: #fff url(/image/mob_gnb_depth2_bul.png) no-repeat 15px 18px !important;
        line-height: 20px;
        font-weight: 600;
        height: auto;
        padding: 10px 15px 10px 28px !important;
    }

    #header-wrap #nav ul li ul li a strong {
        font-size: 16px;
        color: #444 !important;
    }

    #header-wrap #nav ul li ul li ul {
        background: #f7f7f7;
        border-top: 1px solid #e8e8e8;
        padding: 10px 0;
        display: none;
        width: 100% !important;
    }

    #header-wrap #nav ul li ul li ul li {
        border-top: 0;
    }

    #header-wrap #nav ul li ul li ul li a {
        padding: 4px 15px 4px 28px !important;
        background: url(/image/mob_gnb_depth3_bul.png) no-repeat 20px 12px !important;
    }

    #header-wrap #nav ul li ul li ul li a strong {
        font-size: 14px;
        color: #444 !important;
        font-weight: normal;
    }

    #header-wrap #nav ul li ul li ul li ul {
        background: none;
        border: 0;
        padding: 0 0 5px 0;
        display: none;
    }

    #header-wrap #nav ul li ul li ul li ul li {
    }

    #header-wrap #nav ul li ul li ul li ul li a {
        background: url(/image/mob_gnb_depth4_bul.png) no-repeat 28px 12px !important;
        padding: 2px 15px 2px 38px !important;
    }

    #header-wrap #nav ul li ul li ul li ul li a strong {
        font-size: 13px;
        color: #666 !important;
    }

    #header-wrap #nav ul li a.ov {
        background: #00a9dd  no-repeat 92% 50% !important;/*url(/image/mob_gnb_depth1_bul_ov.png)*/
        color: #fff !important;
    }

    #header-wrap #nav ul li ul li a.ov {
        background: #3d352f url(/image/mob_gnb_depth2_bul_ov.png) no-repeat 15px 18px !important;
    }

    #header-wrap #nav ul li ul li a.ov strong {
        color: #fff !important;
    }

    #header-wrap #nav ul li ul li ul li a.ov {
        background: url(/image/mob_gnb_depth3_bul_ov.png) no-repeat 20px 12px !important;
    }

    #header-wrap #nav ul li ul li ul li a.ov strong {
        color: #b4875b !important;
    }

    #header-wrap #nav ul li ul li ul li ul li a.ov {
        background: url(/image/mob_gnb_depth4_bul_ov.png) no-repeat 28px 12px !important;
    }

    #header-wrap #nav ul li ul li ul li ul li a.ov strong {
        color: #3d352f !important;
    }

    #header-wrap #blind_mob {
        position: fixed;
        left: 0;
        top: 0;
        background: #000;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 101;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
	
}

@media all and (max-width: 1000px) {
    #wrap {
        min-width: 0
    }
}

@media all and (max-width: 768px) {
    #container {
        position: relative;
        z-index: 1
    }
}
