.k-dropdown-wrap.k-state-active.k-state-border-down, .k-numeric-wrap .k-link.k-state-selected, .k-pager-numbers.k-state-expanded .k-current-page .k-link, .k-picker-wrap.k-state-active.k-state-border-down {
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0)
}

.k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-multiselect-wrap, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0)
}

.k-autocomplete .k-input, .k-autocomplete.k-state-focused .k-input, .k-dropdown-wrap .k-input, .k-dropdown-wrap.k-state-focused .k-input, .k-numeric-wrap.k-state-focused .k-input, .k-picker-wrap.k-state-focused .k-input, .k-textbox > input {
    border-color: #c4c2c2
}

.k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-multiselect-wrap, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .0)
}

.k-calendar td.k-state-focused.k-state-selected, .k-calendar td.k-state-selected.k-state-active, .k-calendar td.k-state-selected.k-state-hover:active, .k-calendar td.k-state-selected:active {
    -webkit-box-shadow: inset 0 0 0 0 #aeaeae;
    box-shadow: inset 0 0 0 0 #aeaeae
}

.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-gantt-views > .k-current-view, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button .k-gantt-views, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 0
}

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
    padding: .177em 0;
    text-indent: .8em;
    border: 0;
    margin: 0
}

.k-dropdown-wrap.k-state-focused {
    outline: -webkit-focus-ring-color auto 5px;
}
/*2017.08.02 - �迵Ź ����*/
.k-autocomplete.k-state-default,.k-dropdown-wrap.k-state-default,.k-numeric-wrap.k-state-default,.k-picker-wrap.k-state-default{background-image:url(textures/highlight.png);background-image:none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,0)));background-image:none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);background-image:none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);background-position:50% 50%;background-color:#fff;border-color:#c4c2c2;border-radius:3px;}

.k-dropdown-wrap .k-select,.k-numeric-wrap .k-select,.k-picker-wrap .k-select{line-height:18px; vertical-align:middle; -moz-box-sizing:border-box; text-align:center; width:20px; height:100%;}

.k-ff .k-editor-toolbar li,.k-ie10 .k-editor-toolbar li,.k-ie9 .k-editor-toolbar li,.k-safari .k-editor-toolbar li,.k-webkit .k-editor-toolbar li{display:inline-block;padding:3px 5px;}

.k-combobox .k-dropdown-wrap:before,.k-numeric-wrap:before,.k-picker-wrap:before{content:"\a0";display:inline-block;width:0;height:34px;padding-bottom:1px;}

.k-colorpicker .k-foreColor{background-position:-244px -87px}

.k-colorpicker .k-backColor{background-position:-244px -113px}

.k-icon.k-tool-icon.k-icon.k-i-foreground-color {text-align: left;margin-top: 3px;}

.k-icon.k-tool-icon.k-icon.k-i-paint {text-align: left;margin-top: 3px;}

.k-combobox .k-dropdown-wrap.k-state-hover .k-i-close {display:none;}

.k-combobox .k-dropdown-wrap.k-state-focused .k-i-close {display:none;}

.k-combobox .k-dropdown-wrap.k-state-border-down .k-i-close {display:none;}

.k-editor-widget .k-dropdown-wrap.k-state-default.k-state-focused.k-state-active.k-state-border-down .k-select {height: 97%;}

/* 비활성화시 Background Color 변경 - 2017.08.03 김목영 */
.k-state-disabled {
    background-color: #ececec !important;
    border: none;
}

.k-state-disabled .k-select {
    background-color: #ececec !important;
}

.k-picker-wrap.k-state-default {
	border-radius:0px !important;
}
