{ #header }


<!-- container -->
<div id="container">
    <div class="visual-sub  vs-bg-04">
        <h3>자주묻는 질문</h3>
        가장 자주 묻는 질문에 대한 답변입니다. 기타 문의 사항은 Q&A를 이용해 주시기 바랍니다.
    </div>
    <!-- contents -->
    <div id="contents">

        <!-- tab -->
        <div class="tab" id="category_list">
        </div>
        <!-- //tab -->

        <!-- faq -->
        <div class="faq" id="faq_list">


        </div>
        <!-- //faq -->

        <!-- paginate-complex -->
        <div class="paginate mT10">
            <div class="light-theme ">
                <ul id="pagination_html">
                </ul>
            </div>
        </div>
        <!-- //paginate-complex -->

        <!-- button
        <ul class="btn-both mT20">
            <li class="fr"><a href="notice-write.html" class="button">글쓰기</a></li>
        </ul>
        -->
        <!-- //button -->
    </div>
    <!-- //contents -->
    <!-- container -->
</div>
<!-- //container -->
{ #footer}