{ #header }

    <div class="visual-sub vs-bg-01">
        <h3>의료 3DP 서비스</h3>
        의료 서비스에서는 의료분야에서 3D프린터 및 3D프린팅 기술을 용이하게 활용할 수 있도록 지원하기 위한 응용 S/W솔루션 및 서비스를 제공합니다.
    </div>
    <!-- contents -->
    <div id="contents">

        <h4 class="title mT50">의료 서비스</h4>
        <div class="box-bg content-header">
            의료 서비스에서는 의료분야에서 3D프린터 및 3D프린팅 기술을 용이하게 활용할 수 있도록 지원하기 위한 응용 S/W솔루션 및 서비스를 제공합니다. Scanning, Modeling, 3D
            Printing의 제작에 필요한 모든 신청을 한 곳에서 할 수 있으며 제작 중인 제품의 진행 현황을 한눈에 쉽게 파악 할 수 있습니다.

        </div>

        <h4 class="title mT50">3D 스케닝 서비스</h4>
        <div class="box-bg content-header" ><!-- style="float: left; width: 66%;"-->
			인체 맞춤형 3D 프린팅 의료기기를 제작하기 위하여 인체의 3D 정보가 필요합니다.<br>
			3D 스케닝 서비스는 재활 의학에서 인체 맞춤형 3D 프린팅 보조기를 제작하기 위하여 보조기 적용 부위의 바디 3D 스케닝 서비스를 제공합니다.

        </div>
		<!--
		<div  style="float: left; width: 33%;padding-left:1%">
			<img src="/image/3d_scanning.png">
		</div>
		-->
        <h4 class="title mT50">3D 모델링 서비스</h4>
        <div class="box-bg content-header"><!-- style="float: left; width: 66%;"-->
			인체의 바디 3D 스케닝 정보나 의료영상정보 등을 기반으로 인체 맞춤형 의료기기를 디자인하고 설계하는 모델링 서비스를 제공합니다.
        </div>
		<!--
		<div  style="float: left; width: 33%;padding-left:1%">
			<img src="/image/3d_modeling.png">
		</div>
		-->
        <h4 class="title mT50">3D 프린팅 서비스</h4>
        <div class="box-bg content-header" ><!--style="float: left; width: 66%;"-->
			인체 맞춤형 의료기기의 3D 모델링 데이터를 이용하여 최적의 3D 프린팅 출력물을 제작하여 배송하는 서비스입니다.
        </div>
		<!--
		<div  style="float: left; width: 33%;padding-left:1%">
			<img src="/image/3d_printing.png">
		</div>

		-->
		<div class="box-bg content-header"><!-- style="float: left; width: 100%;" -->
			현재 의료보조기 제작 무료 시범서비스 중입니다.<br>
			진료기관/기업 회원으로 신규 가입하시어 무상으로 재활 의학 보조기 제작의 새로운 서비스를 경험해 보시기 바랍니다.

		</div>
		<div style="text-align:center;padding-top:10px;">
			<iframe src="https://player.vimeo.com/video/250206203" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/250206203">1MediACE3D_Process</a> from <a href="https://vimeo.com/user69227620">SOLIDENG</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
        <!-- image
        <div class="box-line mT30 pT30 pB30" style="float: left; width: 100%;">
            <img src="/image/svc-step-01.png" alt="" style="width:100%; max-width:1437px">
        </div> -->

        <h4 class="title mT50">주요 참여 업체</h4>
        <!-- table start -->
        <table cellspacing="0" border="1" summary="리스트" class="tbl-list mT20">
            <caption>목록</caption>
            <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="25%">
                <col width="35%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>업체</th>
                <th>출력물</th>
                <th>소프트웨어</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bg-point">재활분야</td>
                <td class="left">(주)솔리드이엔지</td>
                <td class="left">의료용하지보조기</td>
                <td class="left">하지보조기모델생성3D CAD 엔진</td>
            </tr>
            <tr>
                <td class="bg-point">치과분야</td>
                <td class="left">(주)대성산업</td>
                <td class="left">서치클가이드(보철물)</td>
                <td class="left">치과기공소 3DP 디자인CAD 응용</td>
            </tr>
            <tr>
                <td class="bg-point">정형분야</td>
                <td class="left">(주)코렌텍</td>
                <td class="left">환자맞춤형고관절, 견관절3D 디자인</td>
                <td class="left">병원용환자맞춤형관절3D 디자인뷰어</td>
            </tr>
            <tr>
                <td class="bg-point">성형분야</td>
                <td class="left">(주)진명아이엔씨</td>
                <td class="left">의과대학학습용인체모형디자인</td>
                <td class="left"> 3DP 인체모형개발모듈</td>
            </tr>
            </tbody>
        </table>
        <!-- //table end -->
        <!-- //content -->
    </div>
    <!-- //contents -->
    <!-- container -->

{ #footer }