{ #header }

	<div class="visual-sub vs-bg-02">
		<h3>서비스 접수</h3>
	</div>
	<!-- contents -->
	<div id="contents">
		<input type="hidden" id="hd_page" value="{ page }">
		<h5 class="title mT50"><span class="font-p1">"{ comName }"</span> 서비스 신청 내역</h5>
		<div class="box-bg content-header">
					- { comName }(으)로 신청된 서비스 내역 입니다.</div>

        <div class="faq" id="status_list_html">
        </div>

		<!-- paginate-complex -->
		<div class="paginate mT10" >
			<div  class="light-theme ">
				<ul id="pagination_html">
				</ul>
			</div>
		</div>
		<!-- //paginate-complex -->
	</div>
	<!-- //contents -->
	<script type="text/x-kendo-template" id="service_template">

			<div id="service_subjectivity" class="service_subjectivity"></div>

	</script>

{ #footer }