{ #header }

    <input type="hidden" id="division" name="division" value="{ division }"/>
    <div class="visual-sub vs-bg-07">
        <h3>소프트웨어</h3>
        의료 소프트웨어는 3D Printing에 필요한 소프트웨어를 다운 받을 수 있는 서비스 입니다.
    </div>
    <!-- contents -->
    <div id="contents">

        <h4 class="title mT50" id="h4_afo">MediACE3D - AFO</h4>

        <!-- content -->
        <div class="software-wrap" id="div_afo">
            <ul>
                <li class="">
                    <div class="sw-box">
                        <ul>
                            <li>
							3D 프린팅을 위한 하지 보조기 모델 생성 CAD인 MediACE3D-AFO모듈은 3D 스캔 이후 외부 기준점을 사용하여 환자의 발에 맞춤형 표준 템플릿을 신속히 적용 할 수 있으며 또한 자세 보정 기능을 사용하여 환자 보행 만족도를 높일 수 있습니다.

                            </li>
                            <li class="dot">
                                <strong>릴리즈 일자</strong>
                                <p>2017/11/20</p>
                            </li>
                            <li class="dot">
                                <strong>서비스</strong>
                                <p>Modeling</p>
                            </li>
                            <li>
                                <strong>세부 서비스</strong>
                                <p>상지</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- visual -->
                    <div class="visual-wrap visual-gallery">
                        <div class="visual">
                            <div class="item">
                                <div class="clearfix" style="width:100%;">
                                    <ul id="image-gallery_1" class="gallery list-unstyled cS-hidden">
                                        <li data-thumb="/image/img-software-01-s.png"><img src="/image/img-software-01.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-01-s-01.png"><img src="/image/img-software-01-s-01.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-01-s-02.jpg"><img src="/image/img-software-01-s-02.jpg"
                                                                                           class="imgBig" alt=""/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- //visual -->

                </li>
            </ul>
        </div>

        <h4 class="title mT50" id="h4_who">MediACE3D - WHO</h4>

        <!-- content -->
        <div class="software-wrap" id="div_who">
            <ul>
                <li class="">
                    <div class="sw-box">
                        <ul>
                            <li>
							3D 프린팅을 위한 상지 보조기 모델 생성 CAD인 MediACE3D-WHO 모듈은 3D 스캔 이후 외부 3 기준점
							만으로 환자 맞춤형 표준 템플릿을 신속히 적용하고 편집
							할 수 있어 초보자도 쉽게 고품질의 상지보조기를 생성
							할 수 있습니다.

                            </li>
                            <li class="dot">
                                <strong>릴리즈 일자</strong>
                                <p>2017/11/20</p>
                            </li>
                            <li class="dot">
                                <strong>서비스</strong>
                                <p>Modeling</p>
                            </li>
                            <li>
                                <strong>세부 서비스</strong>
                                <p>하지</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- visual -->
                    <div class="visual-wrap visual-gallery">
                        <div class="visual">
                            <div class="item">
                                <div class="clearfix" style="width:100%;">
                                    <ul id="image-gallery_2" class="gallery list-unstyled cS-hidden">
                                        <li data-thumb="/image/img-software-02-s-01.png"><img src="/image/img-software-02-s-01.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-02-s-02.png"><img src="/image/img-software-02-s-02.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-02-s-03.png"><img src="/image/img-software-02-s-03.png"
                                                                                           class="imgBig" alt=""/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //visual -->

                </li>
            </ul>
        </div>

        <h4 class="title mT50" id="h4_etc">Insole 모델 생성 모듈</h4>

        <!-- content -->
        <div class="software-wrap" id="div_etc">
            <ul>
                <li class="">
                    <div class="sw-box">
                        <ul>
                            <li>
							MediACE3D-Insole 모듈은 평편족 환자 및 일반인에게
							맞춤형 Insole 제품을 디자인 할 수 있는 모듈로써 
							3D Printer에 특화된 솔루션입니다.
                            </li>
                            <li class="dot">
                                <strong>릴리즈 일자</strong>
                                <p>2017/11/20</p>
                            </li>
                            <li class="dot">
                                <strong>서비스</strong>
                                <p>Modeling</p>
                            </li>
                            <li>
                                <strong>세부 서비스</strong>
                                <p>Insole</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- visual -->
                    <div class="visual-wrap visual-gallery">
                        <div class="visual">
                            <div class="item">
                                <div class="clearfix" style="width:100%;">
                                    <ul id="image-gallery_3" class="gallery list-unstyled cS-hidden">
                                        <li data-thumb="/image/img-software-03-s-01.png"><img src="/image/img-software-03-s-01.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-03-s-02.png"><img src="/image/img-software-03-s-02.png"
                                                                                           class="imgBig" alt=""/></li>
                                        <li data-thumb="/image/img-software-03-s-03.png"><img src="/image/img-software-03-s-03.png"
                                                                                           class="imgBig" alt=""/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //visual -->

                </li>
            </ul>
        </div>

        <ul class="btn-cen mT30">
            <a href="" class="button button-primary">
                <span class="icon-down"></span>다운로드
            </a>
            <a href="/software/software" class="button">리스트</a>
        </ul>

        <!-- //content -->
    </div>

{ #footer }