{ #header }

    <div class="visual-sub vs-bg-06">
        <h3>3DP 소프트웨어 서비스</h3>
        3DP 소프트웨어는 3D Printing에 필요한 소프트웨어를 다운 받을 수 있는 서비스 입니다.
    </div>
    <!-- contents -->
    <div id="contents">

        <h4 class="title mT50">3DP 소프트웨어</h4>
        <div class="box-bg content-header">
            3DP 소프트웨어는 3D Printing에 필요한 소프트웨어를 다운 받을 수 있는 서비스 입니다. 서비스 제공자(SP)회원은 Scanning, Modeling, 3D Printing <br>
            각 서비스에 필요한 소프트웨어를 다운 받을 수 있습니다.
        </div>

        <!-- content -->

        <!--h4 class="title mT50">의료보조기 설계 3D CAD</h4>
        <div class="box-bg content-header">
            의료보조기 설계 3D CAD 소프트웨어인 MediACE3D는 재활의학분야에서 보조기 3D설계 도구로써 환자 맞춤형 3D 프린팅 제작을 지원하는 국내 최초의 의료보조기 3D프린팅 제작 전문 3D CAD 솔루션 입니다.<br>
			하지보조기, 상지보조기 등 환자 맞춤형 의료보조기를 독자 개발한 3D Template 기술을 적용하여 쉽고 빠르게 3D 프린팅에 최적화된 3D 모델을 생성할 수 있습니다. <br>
			현재 시범 서비스 중이며 무료로 다운로드하여 자유롭게 사용해 볼 수 있습니다.<br>
			시범 서비스 중 라이센스 유효기간은 2018년6월 30일까지 입니다.
        </div-->
        <!-- //table end -->

		<h5 class="title mT50">의료보조기 설계 3D CAD</h5>
		<div class="tbl-cell info">
			<ul>
				<li style="width: 35%"><img src="/image/design.png" width="100%"></li>
				<li style="width: 65%">
					 의료보조기 설계 3D CAD 소프트웨어인 MediACE3D는 재활의학분야에서 보조기 3D설계 도구로써 환자 맞춤형 3D 프린팅 제작을 지원하는 국내 최초의 의료보조기 3D프린팅 제작 전문 3D CAD 솔루션 입니다.<br>
					하지보조기, 상지보조기 등 환자 맞춤형 의료보조기를 독자 개발한 3D Template 기술을 적용하여 쉽고 빠르게 3D 프린팅에 최적화된 3D 모델을 생성할 수 있습니다. <br><br>
					현재 시범 서비스 중이며 무료로 다운로드하여 자유롭게 사용해 볼 수 있습니다.<br>
					시범 서비스 중 라이센스 유효기간은 2018년6월 30일까지 입니다.
				</li>
			</ul>
		</div>


        <!-- //content -->
    </div>

{ #footer }