{ #header }

    <input type="hidden" id="page" name="page" value="{ page }"/>
    <!-- container -->
    <div id="container">
        <div class="visual-sub vs-bg-05">
            <h3>Q&A</h3>
            궁금한 것은 무엇이든 물어보세요
        </div>
        <!-- contents -->
        <div id="contents">

            <h4 class="mT50">전체 <span class="font-p1" id="count"></span> 건</h4>

            <!-- table Object -->
            <div id="qna_html">
            </div>
            <!-- //table Object -->
            <!-- paginate-complex -->
            <div class="paginate mT10">
                <div class="light-theme ">
                    <ul id="pagination_html">
                    </ul>
                </div>
            </div>
        </div>
        <!-- //contents -->
        <!-- container -->
    </div>
    <!-- //container -->

{ #footer}