{ #header }

        <div class="visual-sub vs-bg-07">
			<h3>소프트웨어</h3>
       		3DP 소프트웨어는 3D Printing에 필요한 소프트웨어를 다운 받을 수 있는 서비스 입니다.
        </div>
        <!-- contents -->
        <div id="contents">

        	<h4 class="title mT50">소프트웨어</h4>

       		<!-- content -->
        	<!--div class="tbl-cell softwareBox mT20">
        		<ul>
        			<li class="left">
						<a href="/software/software/softwareDetail?division=afo">
							<img src="/image/software-01.png" alt="">
						</a>
					</li>
        			<li class="center">
						<a href="/software/software/softwareDetail?division=who">
							<img src="/image/software-02.png" alt="">
						</a>
					</li>
        			<li class="right">
						<a href="/software/software/softwareDetail?division=etc">
							<img src="/image/software-03.png" alt="">
						</a>
					</li>
        		</ul>
        	</div-->

        	<div class="softwareBox mT20">
        		<ul>
        			<li>
        				<div class="swb-info" style="min-height:630px;">
        					<img src="/image/afo_cropped.png" alt="">
									<p class="swb-title">MediACE3D - AFO</p>
									<p class="swb-text">MEDIACE3D-AFO는 하지보조기전용 3D설계도구로 3D 프린터에 특화된 환자맞춤형 하지보조기 제작을 지원하는 의료 3D CAD 소프트웨어입니다.</p>
        					<a href="/software/software/softwareDetail?division=afo" class="button button-white-line mT20">자세히보기 <span class="bu-arrow"></span></a>
						</div>
        			</li>
        			<li>
        				<div class="swb-info" style="min-height:630px;">
        					<img src="/image/who_cropped.png" alt="">
									<p class="swb-title">MediACE3D - WHO</p>
									<p class="swb-text">MEDIACE3D-WHO는 상지보조기전용 3D설계도구로 3D 프린터에 특화된 환자맞춤형 상지보조기 제작을 지원하는 의료 3D CAD 소프트웨어입니다.</p>
        					<a href="/software/software/softwareDetail?division=who" class="button button-white-line mT20">자세히보기 <span class="bu-arrow"></span></a>
						</div>
        			</li>
        			<li>
        				<div class="swb-info" style="min-height:630px;">
        					<img src="/image/Insole.png" alt="">
									<p class="swb-title">MediACE3D - INSOLE</p>
									<p class="swb-text">MEDIACE3D-INSOLE은 인솔 전용 3D설계도구로 3D 프린터에 특화된 환자맞춤형 인솔 제작을 지원하는 의료 3D CAD 소프트웨어입니다.</p>
        					<a href="/software/software/softwareDetail?division=etc" class="button button-white-line mT20">자세히보기 <span class="bu-arrow"></span></a>
						</div>
        			</li>
        		</ul>
        	</div>


        	<!-- //content -->
        </div>
        <!-- //contents -->
{ #footer }