{ #header }
    <!-- container -->
    <div id="container" class="main-bg">

    <div class="visual-main">
    	<div class="icon-mouse"></div>
    	<ul class="owl-carousel owl-dot inner-fixed">
    		<!--li style="background: #000"><a href="/software/softwareDetail?division=afo"><img src="/image/visual-main-01.jpg" alt=""></a></li>
    		<li><a href="/software/softwareDetail?division=who"><img src="/image/visual-main-01.jpg" alt=""></a></li>
    		<li><a href="/software/softwareDetail?division=etc"><img src="/image/visual-main-01.jpg" alt=""></a></li-->
    		<li style="background: #000"><a href="/service/service"><img src="/image/visual-main-01.jpg" alt=""></a></li>
    		<li><a href="/software/software"><img src="/image/visual-main-02.jpg" alt=""></a></li>
    	</ul>
    </div>
    <script>
			</script>

    <div  class="bn-area inner-fixed">
    	<ul>
    		<li><a href="/service/apply?cd=G0050001"><img src="/image/bn-main-01.jpg" alt=""></a></li>
    		<li><a href="/service"><img src="/image/bn-main-02.jpg" alt=""></a></li>
    		<li><a href="/software/introduction"><img src="/image/bn-main-03.jpg" alt=""></a></li>
    		<li><a href="javascript:alert('준비 중 입니다.')"><img src="/image/bn-main-04.jpg" alt=""></a></li>
    	</ul>
    </div>

	<div class="newsbox-wrap inner-fixed">
		<ul>
			<li>
				<div class="newsBox">
					<h3><span class="icon-news"></span> 자주 묻는 질문 <a style="cursor:pointer;" onclick="location.href='/service/faq/serviceFaq'" class="more">more <span class="font-p1">+</span></a></h3>
					<ul id="faq_html">
					</ul>
				</div>
			</li>
			<li>
				<div class="newsBox">
					<h3><span class="icon-faq"></span> Q&A <a style="cursor:pointer;" onclick="location.href='/service/qna/qnaList'" class="more">more <span class="font-p1">+</span></a></h3>
					<ul id="qna_html">
					</ul>
				</div>
			</li>
		</ul>
	</div>
    <!-- container -->

{ #footer }