{ #header }
	<div class="visual-sub vs-bg-08">
		<h3>로그인</h3>
		로그인 하시면 더욱 다양한 서비스를 즐기실 수 있습니다.
	</div>
	<!-- contents -->
	<div id="contents">
		<input id="return_url" type="hidden"  value="{ returnURL }"/>
		<!-- login -->
		<div class="login_wrap mT50">
				<h4>회원 로그인</h4>
				<!-- tab -->
				<div class="tab base two mT10">
					<li id="login_hospital" class="active"><a href="javascript:void(0);">진료기관/기업</a></li>
					<li id="login_sp" class=""><a href="javascript:void(0);">서비스 제공자(SP)</a></li>
				</div>
				<!-- //tab 서비스 신청-->
				<input id="login_type" type="hidden" value="hospital">
				<ul class="login">
					<li>서비스를 이용하시려면 아래 로그인 정보를 입력해 주십시오.</li>
					<li class="mT10"><input id="login_email" type="text" placeholder="이메일" class="input_id" /></li>
					<li class="mT10"><input id="password" type="password" class="input_pw" id="" placeholder="비밀번호" /></li>
					<li class="mT30 service_code_area"> 진행 현황만 확인하시려면 아래 서비스 코드를 입력해 주십시오</li>
					<li class="mT10 service_code_area"><input id="service_code" type="text" class="input_id" placeholder="코드번호" /></li>
					<li class="mT10"><input type="button" class="button button-primary button_login" style="padding:0" value="로그인"  onclick="doLogin();"></li>
					<span class="help mT20 mB10"><a href="/user/findPassword">비밀번호 찾기</a> <span class="bar">|</span> <a href="/user/join">회원가입</a></span>
				</ul>
		</div>
		<!-- //login -->
	</div>
	<!-- //contents -->
{ #footer }