{ #header }

    <div class="visual-sub vs-bg-02">
        <h3>서비스 신청 현황 조회</h3>
    </div>

	<div id="contents">
		<input type="hidden" id="hd_page" value="{ page }">
        <input type="hidden" id="dept_code" name="dept_code" value="{ deptCode }">
		<h5 class="title mT50"><span class="font-p1">"{ userName }"</span> 님 서비스 신청 현황</h5>
		<div class="box content-header mT30" style="padding:20px 5px;">
		<form id="frm_search">
			<table cellspacing="0" border="1" summary="리스트" class="search_form" style="border:0px;">
				<caption>목록</caption>
				<colgroup>
					<col width="8%">
					<col width="14%">
					<col width="8%">
					<col width="14%">
					<col width="8%">
					<col width="14%">
					<col width="8%">
					<col width="14%">
					<col width="*">
				</colgroup>
				<thead>
				</thead>
				<tbody>
					<tr>
						<th>환자명</td>
						<td>
							<input type="text" id="search_patient_name" name="search_patient_name" class="inline" maxlength="20" style="width:100%">
						</td>
						<th>생년월일</td>
						<td>
							<input type="text" id="search_birthday" name="search_birthday" style="width:100%; height: 34px;">
						</td>
						<th>성별</td>
						<td>
							<input type="text" id="search_gender" name="search_gender" class="inline" maxlength="20" style="width:100%">
						</td>
						<th>진행상태</td>
						<td>
							<input type="text" id="search_status_code" name="search_status_code" class="inline" maxlength="20" style="width:100%">
						</td>
						<td>
							<input type="button" id="btn_search" class="button button-line" value="검색 ">
						</td>
					<tr>
				</tbody>
			</table>
		</form>

		</div>

        <div class="faq" id="status_list_html">

        </div>
		<!-- table start 
		<table cellspacing="0" border="1" summary="리스트" class="tbl-list stripe mT50">
			<caption>목록</caption>
			<colgroup>
				<col width="5%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="5%">
			</colgroup>
			<thead>
				<tr>
					<th>-</th>
					<th>서비스코드</th>
					<th>서비스</th>
					<th>세부항목</th>
					<th>환자명</th>
					<th>생년월일</th>
					<th>성별</th>
					<th>제공업체</th>
					<th>신청일자</th>
					<th>진행상태</th>
					<th>-</th>
				</tr>
			</thead>
			<tbody id="list_html"></tbody>
		</table>-->
		<!-- //table end-->

		<!-- paginate-complex -->
		<div class="paginate mT10" >
			<div  class="light-theme ">
				<ul id="pagination_html">
				</ul>
			</div>
		</div>
		<!-- //paginate-complex -->
		<div class="btn-cen mT50">
			<input type="button" id="btn_service_apply" class="button button-primary button-lg" style="width:200px" value="서비스 신청 ">
		</div>
	</div>

	<script type="text/x-kendo-template" id="service_template">

			<div id="service_subjectivity" class="service_subjectivity"></div>

	</script>
{ #footer }