{ #header }

    <input type="hidden" id="service_qna_idx" name="service_qna_idx" value="{ serviceQnAIdx }"/>
    <input type="hidden" id="page" name="page" value="{ page }"/>
    <!-- container -->
    <div id="container">
        <div class="visual-sub vs-bg-05">
            <h3>Q&A</h3>
            궁금한 것은 무엇이든 물어보세요
        </div>
        <!-- contents -->
        <div id="contents">

            <!-- table Object -->
            <div class="view-wrap mT50">
                <div class="view-head" id="detail_subject_html">
                    <!--
                    <div class="title">
                        <span class="label yellow">답변완료</span>
                        <span class="mL10">공지사항입니다.</span>
                    </div>
                    <ul class="f0 pT10">
                        <li class="fl">
                            <span class="tbl-q">Q</span>
                            <span class="name">홍길동</span>
                        </li>
                        <li class="fr">
                            <span class="date">2016. 10. 25</span>
                        </li>
                    </ul>
                    -->
                </div>
                <div class="view-content" id="detail_content_html">
                    <!--탈퇴는 어떻게 하나요?-->
                </div>

                <div class="view-head mT50" id="detail_reply_subject_html">
                    <!--
                    <ul class="f0">
                        <li class="fl">
                            <span class="tbl-q">A</span>
                            <span class="name">관리자</span>
                        </li>
                        <li class="fr">
                            <span class="date">2016. 10. 25</span>
                        </li>
                    </ul>
                    -->
                </div>
                <div class="view-content" id="detail_reply_content_html">
                    <!--탈퇴는 어떻게 하나요?-->
                </div>


            </div>
            <!-- //table Object -->
            <ul class="btn-both mT20">
                <li class="fr" id="li_button">
                </li>
            </ul>
        </div>
        <!-- //contents -->
        <!-- container -->
    </div>
    <!-- //container -->

{ #footer}