{ #header }

    <input type="hidden" id="division" name="division" value="{ division }"/>
    <div class="visual-sub vs-bg-07">
        <h3>소프트웨어</h3>
        3DP 소프트웨어는 3D Printing에 필요한 소프트웨어를 다운 받을 수 있는 서비스 입니다.
    </div>
    <!-- contents -->
    <div id="contents">

        <h4 class="title mT50" id="h4_afo"></h4>

        <!-- content -->
        <div class="software-wrap" id="div_afo">
        </div>

        <h4 class="title mT50" id="h4_who"></h4>

        <!-- content -->
        <div class="software-wrap" id="div_who">
        </div>

        <h4 class="title mT50" id="h4_etc"></h4>

        <!-- content -->
        <div class="software-wrap" id="div_etc">

        </div>

        <ul class="btn-cen mT30" id="btn_download">
            <a class="button button-primary" onclick="goSoftwareRegister()">소프트웨어 서비스 등록</a>
            <a href="/software/software" class="button">리스트</a>
        </ul>

        <!-- //content -->
    </div>

{ #footer }