#btn_rollback {
    font-size: 19px;
    width: 200px;
    height: 56px;
    line-height: 56px;
    padding: 0px 10px
    background: #fb7272 !important;
    color: #fff !important;
    border: none;
    border: 1px solid #fb7272
}

#btn_rollback :hover, #btn_rollback :focus {
    background: #fbb5b5 !important;
    color: #fff !important
}

#design_type > img {
	width:128px;
	height:128px;
	border:1px solid #d4d4d4;
	cursor: pointer;
}